<!-- _includes/publications-content.html -->
<p><a href="https://scholar.google.com/citations?user=ggjUt3QAAAAJ">Google Scholar</a></p>

<ul>
  <li><a href="http://hdl.handle.net/1853/53916"><strong>New Constructions of Cryptographic Pseudorandom Functions</strong></a><br>
    <em>Abhishek Banerjee</em><br>
    Ph.D. Thesis submitted to Georgia Institute of Technology , 2015</li>
  <li><a href="https://eprint.iacr.org/2015/180"><strong>Key-Homomorphic Constrained Pseudorandom Functions</strong></a><br>
    <em>Abhishek Banerjee</em>, Georg Fuchsbauer, Chris Peikert, Krysztof Pietrzak, Sophie Stevens<br>
    In <a href="http://www.iacr.org/workshops/tcc2015/">TCC 2015</a></li>
  <li><a href="http://eprint.iacr.org/2014/074/"><strong>New and Improved Key-Homomorphic Pseudorandom Functions</strong></a> [<a href="http://www.youtube.com/watch?v=531k4JJgseM">Video</a>]<br>
    <em>Abhishek Banerjee</em>, Chris Peikert<br>
    In <a href="http://www.iacr.org/conferences/crypto2014/">CRYPTO 2014</a></li>
  <li><a href="https://www.iacr.org/cryptodb/data/paper.php?pubkey=27551"><strong>SPRING: Fast Pseudorandom Functions from Rounded Ring Products</strong></a><br>
    <em>Abhishek Banerjee</em>, Hai Brenner, Gaëtan Leurent, Chris Peikert, Alon Rosen<br>
    In <a href="http://fse2014.isg.rhul.ac.uk/">FSE 2014</a></li>
  <li><a href="http://eprint.iacr.org/2011/401/"><strong>Pseudorandom Functions and Lattices</strong></a> [<a href="http://www.iacr.org/conferences/eurocrypt2012/Program/Thurs/Banerjee.pdf">Slides</a>, <a href="http://www.youtube.com/watch?v=Ebt9vnaXyMc">Video</a>]<br>
    <em>Abhishek Banerjee</em>, Chris Peikert, Alon Rosen<br>
    In <a href="http://www.iacr.org/conferences/eurocrypt2012/">EUROCRYPT 2012</a></li>
</ul>
